<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" default="300" />
	<include file="$(find republisher)/launch/republisher_grf.launch">
		<arg name="freq" value="$(arg freq)"/>
		<arg name="some_grf" value="right"/>
	</include>
	<include file="$(find republisher)/launch/republisher_grf.launch">
		<arg name="freq" value="$(arg freq)"/>
		<arg name="some_grf" value="left"/>
	</include>

</launch>


