<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="freq" 		default="100" />
	<arg name="wrench_delay" 		default="0.0"/>
	<include file="$(find republisher)/launch/republisher_sync_grf.launch">
		<arg name="freq" 	value="$(arg freq)"/>
		<arg name="some_grf" 	value="right"/>
		<arg name="wrench_delay"	value="$(arg wrench_delay)"/>
	</include>
	<include file="$(find republisher)/launch/republisher_sync_grf.launch">
		<arg name="freq" 	value="$(arg freq)"/>
		<arg name="some_grf" 	value="left"/>
		<arg name="wrench_delay"	value="$(arg wrench_delay)"/>
	</include>

</launch>


